#Angels_Landing {
    background-color: #84dded;
}

#Canyoneering {
    background-color: #63d89c;
}

#Narrows {
    background-color: #cbdb6f;
}

#date {
    text-align: center;
}

/*#left {
    float: left;
    max-width: 40%;
    height: auto;
}

#right {
    float: right;
    max-width: 40%;
    height: auto;
}*/

body {
    background-color: #f4a742;
}


header {
    /*background-color: #f5ceff;*/
}

.banner {
    max-width: 100%;
    height: auto;
}

section {
    padding-left: 1em;
}

h1 {
    text-align: center;
}

nav ul {
    text-align: center;
    padding: 0em;
}
nav ul li {
    display: inline-flex;
    padding: 0em 1em;
}
