#Angels_Landing {
    background-color: #4abde8;
}

#Canyoneering {
    background-color: #63d89c;
}

#Narrows {
    background-color: #cbdb6f;
}

#date {
    text-align: center;
}

body {
    background-color: #f4a742;
}


header {
    /*background-color: #f5ceff;*/
}

h1 {
    text-align: center;
}

nav ul {
    text-align: center;
    padding: 0em;
}
nav ul li {
    display: inline-flex;
    padding: 0em 1em;
}
